{{view Merkredo.HeaderView}}
<div class="row">
  <nav id="main-menu" class="small-1 large-1 columns layout-column">
    {{view Merkredo.MainMenuView}}
  </nav>
  <div class="small-13 large-13 columns">
    <div class="row">
      {{outlet appcontext}}
    </div>
  </div>
</div>
