<nav id="header" class="row">
  <div id="title" class="large-1 small-1 columns layout-column">
    <h5>Merkredo</h5>
  </div>
  <div class="large-4 small-4 columns layout-column right">
    <div id="current-account" class="right">
      {{view.currentAccount.email}}
      <a href="#" data-dropdown="account-dropdown">
        <i class="icon-cog icon-large"></i>
      </a>
    </div>
  </div>
  <ul id="account-dropdown" class="f-dropdown" data-dropdown-content>
    <li><a href="#" {{action logout target="Merkredo"}}>{{i18n header.logout}}</a></li>
  </ul>
</nav>
