<nav id="main-menu">
  <ul class="side-nav">
    <li><a href="#">Moods</a></li>
    <li>{{#linkTo app.employee}}Employees{{/linkTo}}</li>
    <li><a href="#">etc</a></li>
    <li><a href="#">etc</a></li>
    <li><a href="#">etc</a></li>
  </ul>
</nav>
