<ul class="side-nav">
  <li>
    {{#linkTo app.employee}}
      <i class="icon-list icon-2x"></i>
      <span>Events</span>
    {{/linkTo}}
    {{#linkTo app.employee}}
      <i class="icon-list icon-2x"></i>
      <span>Events</span>
    {{/linkTo}}
    {{#linkTo app.employee}}
      <i class="icon-list icon-2x"></i>
      <span>Events</span>
    {{/linkTo}}
  </li>
</ul>
