/*
 *
 */

@import 'forms';

#header {
  background-color: #111111;
  color: #ffffff;

  h5 {
    color: inherit;
    line-height: emCalc(50px);
    padding-left: emCalc(20px);
    margin-top: 0;
    display: inline-block;
  }

  #account-outlet {
    margin: 15px;
  }
}
