/*
 *
 */

@import 'forms';

#header {
  background-color: #111111;
  color: #ffffff;

  h5 {
    color: inherit;
    line-height: emCalc(50px);
    padding-left: emCalc(20px);
    margin: 0px;
    display: inline-block;
  }

  ul.account-info {
    cursor: pointer;
    font-size: emCalc(14px);
    margin: 10px 20px;
    line-height: emCalc(20px);

    li {
      margin-left: 5px;
      &:last-child {
        margin: 5px 0 0 10px;
      }
    }
  }

  i {
    margin-top: 3px;
  }
}
