/*
 * Define the schema
 */
$schema-white:          #ffffff;

$schema-primary:        #4790d2;
$schema-primary-alt:    #3274a8;
$schema-secondary:      #262d3f;
$schema-secondary-alt:  #566578;
$schema-success:        #1fd580;
$schema-neutral:        #4290d2;
$schema-error:          #ff6856;

$schama-darkest:        #3e3e3e;
$schema-darker:         #53617c;
$schema-dark:           #7c7f8e;
$schema-middle:         #95a5b5;
$schema-light:          #e2e6ef;
$schema-lighter:        #eef3f9;
$schema-lightest:       #f9fafc;

$schama-text-darkest:   #3e3e3e;
$schema-text-darker:    #596478;
$schema-text-dark:      #6f7a8c;
$schema-text-middle:    #747474;
$schema-text-light:     #bccedc;
$schema-text-lighter:   #ebecee;
$schema-text-lightest:  #ffffff;

